
@font-face { font-family: OPTIEngeEtienne; src: url(../fonts/OPTIEngeEtienne.otf); }
@font-face { font-family: Imbue; src: url(../fonts/Imbue-VariableFont_opsz,wght.ttf); }
@font-face { font-family: Bitter; src: url(../fonts/Bitter-VariableFont_wght.ttf); }

/* Wildcard selector, overrides browser settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

/* General styling */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'OPTIEngeEtienne', serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  text-shadow: 2px 2px 2px black;
  color: whitesmoke;
}

p {
  font-family: 'Bitter', serif;
}

/* Header */

header {
  background-color: slategray;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99%;
}

.empty {
  width: 10%;
}

header h1 {
  font-size: 4em;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* Navbar styles and dropdown */
nav {
  position: absolute;
  font-size: 1.15em;
  font-weight: 200;
  top: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  background-image: linear-gradient(slategray, #58626c);;
  display: none;
}

nav ul {
  list-style-type: none;
  letter-spacing: 1px;
}

.active {
  text-decoration: underline;
}

#nav-menu > li {
  margin-bottom: 1em;
  color: whitesmoke;
  text-shadow: 1.5px 1.5px 1.5px black;
  font-family: 'Imbue', serif;
  font-size: 1.2em;
  font-weight: 400;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  padding: 0 .6rem;
  text-shadow: 2px 2px 2px black;
  color: whitesmoke;
}

/* Main Content */

main {
  background-image: linear-gradient(slategray, #333333);
  display: flex;
  flex: 1 0 auto;
  margin-top: 93px;
  flex-direction: column;
  color: whitesmoke;
}

#main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 1em;
}

#main-page div {
  margin: 1em 0;
}

#hero-image {
  background: url(../images/ffxiv_background.webp) no-repeat center top;
  width: 100%;
  height: 400px;
}

#site-description {
  text-align: center;
  text-shadow: .5px .5px .5px black;
}

#pages {
  text-align: center;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
}

#pages a {
  text-decoration: none;
  color: inherit;
}

#pages a:hover {
  text-decoration: underline;
}

.crests {
  height: 2em;
  width: 2em;
}

#copyright {
  font-family: serif;
  font-size: .8em;
  text-align: center
}

.content-divs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 1em;
  text-shadow: .7px .7px .7px black;
}

.content-divs h2 {
  font-size: 2.3em;
}

.content-images {
  width: 100%;
}

.first-div {
  
}

.second-div {
  
}

.third-div {
  
}

#coming-soon {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2rem;
  
}

#coming-soon h2 {
  font-size: 3em;
  text-align: center;
  font-weight: 200;
  text-shadow: 2px 2px 2px black;
}

#coming-soon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lalalchemist {
  width: 300px;
  height: auto;
}

#coming-soon-text {
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#coming-soon-text a {
  text-decoration: underline;
  color: inherit;
}


/* Footer */
footer {
  background-color: #333333;
  text-shadow: 1.5px 1.5px 1.5px black;
  display: flex;
  justify-content: space-between;
  font-family: 'Imbue', serif;
}

.socials p {
  padding-left: 8px;
  color: whitesmoke;
}

.socials ul {
  list-style-type: none;
  display: flex;
  height: 40px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding-left: 10px;
}

.socials li {
  font-size: 1.2em;
}

.socials i {
  color: whitesmoke;
}

.store-pages p {
  padding-right: 8px;
  color: whitesmoke;
}

.store-pages ul {
  list-style-type: none;
  display: flex;
  height: 40px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.store-pages li {
  font-size: 1.3em;
}

.store-pages a {
  color: whitesmoke;
  text-decoration: none;
}

/* Media queries */
/* Large or landscape phones greater than 575px */
@media screen and (min-width: 576px) {
  nav {
    background-image: linear-gradient(slategray, #333333);
  }
}

/* Tablets and screens larger than 800px */
@media screen and (min-width: 800px) {

  header {
    flex-direction: column;
  }
  
  .empty {
    width: 7%;
  }

  .nav-toggle-label {
    display: none;
  }
  
  nav {
    position: relative;
    display: block;
    background-image: none;
    width: 88%;
    padding-bottom: 0px;
  }

  #nav-menu {
    display: flex;
    justify-content: space-between;
  }
  
  #nav-menu li {
    float: left;
    font-size: 1.4em;
  }

  /* Main content - Media */

  main {
    margin-top: 143px;
  }

  #site-description {
    font-size: 1.2em;
    text-shadow: .8px .8px .8px black;
    width: 90%;
  }

  #pages {
    font-size: 1.4em;
    text-shadow: 1px 1px 1px black;
    column-count: 2;
  }

  /* Footer - Media */

  footer {
    justify-content: space-evenly;
  }

  .socials {
    width: 30%;
  }

  .socials p {
    padding-left: 12%;
    font-size: 1.3em;
  }

  .socials li {
    font-size: 1.4em;
  }

  .store-pages {
    width: 35%;
  }

  .store-pages p {
    padding-left: 5%;
    font-size: 1.4em;
  }

  .store-pages li {
    font-size: 1.5em;
  }
}

/* Laptops or desktops */
@media screen and (min-width: 992px) {
  
  .empty {
    width: 3%;
  }

  #nav-menu li {
    font-size: 1.6em;
  }

  /* Main content - Media */

  main {
    margin-top: 157px;
  }

  #site-description {
    font-size: 1.3em;
    text-shadow: 1px 1px 1px black;
    width: 80;
  }

  #pages {
    font-size: 1.5em;
    text-shadow: 1.2px 1.2px 1.2px black;
    
  }

  #copyright {
    font-size: 1em;
  }

  /* Footer - Media */

  footer {
    padding-bottom: 7px;
  }
  
  .socials {
    width: 30%;
  }

  .socials p {
    text-align: center;
    font-size: 1.5em;
  }

  .socials li {
    font-size: 1.6em;
  }

  .store-pages {
    width: 35%;
  }

  .store-pages p {
    text-align: center;
    font-size: 1.5em;
  }

  .store-pages li {
    font-size: 1.7em;
  }
  
}

/* Extra large screens */
@media screen and (min-width: 1200px) {
  
  .empty {
    width: 1%;
  }
  
}